@media (min-width: 768px) {
	p {
		font-size: 1rem;
	}
	nav img {
		width: 200px;
		height: auto;
		margin-left: 2rem;
	}
	nav button {
		margin-right: 2rem;
	}
	nav button i {
		font-size: 1.5rem;
	}
	#nav-menu-items a {
		font-size: 1.2rem;
		font-weight: 500;
		padding: 1.5rem 1rem;
	}
	#nav-menu-items a.main-link {
		font-weight: 700;
	}
	h1 {
		font-size: 2.75rem;
		max-width: 62vw;
	}
	.plan-card {
		width: 42vw;
	}
	.testimony-head {
		font-size: 2rem;
	}
	.faq-head {
		font-size: 2rem;
	}
	.faq {
		padding: 2.5rem 1rem;
	}
	.faq p {
		max-width: 90%;
	}
	.faq-foot {
		font-size: 2rem;
	}
	.free-trial {
		width: 80vw;
		padding: 3rem;
	}
	.free-trial h2 {
		font-size: 2.5rem;
	}
	.free-trial button {
		width: 200px;
		margin-bottom: 3rem;
	}
	.footer-head-left img {
		height: auto;
		width: 200px;
	}
	.footer-head-right a {
		margin: 0 2rem 0 0;
		font-size: 2rem;
	}
	.footer-head-links {
		flex-direction: row;
		justify-content: space-evenly;
	}
	.footer-head-links a {
		font-size: 1rem;
	}
	.footer-main,
	.footer-foot {
		width: 90vw;
		margin: auto;
	}
}

@media (min-width: 1200px) {
	nav {
		justify-content: space-evenly;
	}
	#nav-menu-items {
		flex-direction: row;
		justify-content: space-evenly;
		position: relative;
		top: 0;
		right: 0;
		font-size: 0.75rem;
		text-align: center;
		width: auto;
		background-color: transparent;
		box-shadow: none;
		height: auto;
		overflow-y: visible;
		transform: translateX(0vw);
	}

	#nav-menu-items a {
		margin: 0 0.5rem;
		padding: 0.75rem 1rem;
		border-radius: 0.6rem;
	}

	#nav-menu-items a i {
		padding: 0 0.5rem;
	}

	.nav-item-container {
		position: relative;
	}

	.sub-link-container {
		position: absolute;
		top: 100%;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow-y: visible;
		background-color: #fff;
		width: 310px;
		text-align: left;
		opacity: 0;
		border-radius: 0.6rem;
		box-shadow: 0 7px 10px #00000033;
		transition: all 0.5s;
	}

	.sub-link-container.show-sub-links {
		opacity: 1;
		transition: all 0.5s;
	}

	#nav-menu-items .sub-link-container .nav-sub-link {
		box-sizing: border-box;
		display: none;
		align-self: flex-start;
		padding: 0.5rem 0;
		font-weight: 400;
		width: 100%;
		opacity: 0;
		font-size: 0.9rem;
		font-weight: 400;
		margin: 0;
		transition: all 0.5s;
	}

	#nav-menu-items .sub-link-container.show-sub-links .nav-sub-link {
		display: block;
		opacity: 1;
		transition: all 0.5s;
	}

	#nav-menu-items .sub-link-container .nav-sub-link {
		display: none;
	}
}
