* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	width: 100vw;
	overflow-x: hidden;
	text-align: center;
}

a {
	text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav,
header,
main {
	padding: 0.75rem;
}

.nav-menu {
	display: flex;
	flex-direction: column;
}

nav img {
	height: 46px;
	width: 156px;
}

nav button i {
	border: 2px solid #014751;
	color: #014751;
	font-size: 1.1rem;
	padding: 0.25rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav button:hover {
	cursor: pointer;
}

/* Nav Menu Functionality */
nav button.showMenu {
	transform: rotate(-90deg);
	transition: all 0.4s;
}

nav button.hideMenu {
	transform: rotate(0deg);
	transition: all 0.4s;
}

#nav-menu-items {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 12vh;
	right: 0;
	font-size: 0.75rem;
	text-align: left;
	background-color: #fff;
	transform: translateX(25vw);
	z-index: 1;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 0.6rem 0 0 0.6rem;
}

#nav-menu-items a {
	padding: 0.75rem 1.5rem 0.75rem 1rem;
	color: #014751;
	margin-bottom: 1px;
}

#nav-menu-items a.main-link {
	background-color: #014751;
	color: #fff;
}

#nav-menu-items a.main-link:hover {
	background-color: #014751;
	opacity: 0.8;
	transition: all 0.4s;
}

#nav-menu-items a:hover {
	background-color: #eee;
}

#nav-menu-items.showItems {
	display: flex;
	flex-direction: column;
	transform: translateX(0vw);
	transition: all 0.4s;
}

#nav-menu-items.showItems a {
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
}

#nav-menu-items a:nth-child(1) {
	border-radius: 0.6rem 0 0 0;
}

#nav-menu-items a:last-of-type {
	border-radius: 0 0 0 0.6rem;
}

#nav-menu-items.showItems a:nth-child(1) {
	border-radius: 0.6rem 0 0 0;
}

#nav-menu-items.showItems a:last-of-type {
	border-radius: 0 0 0 0.6rem;
}

#nav-menu-items.hideItems {
	transform: translateX(33vw);
	transition: all 0.6s;
}

.menuOpen {
	z-index: -2;
	opacity: 0.3;
	transition: all 0.6s;
}

.menuClosed {
	opacity: 1;
	transition: all 0.6s;
}

/* Header */
h1 {
	margin-top: 10vh;
	font-size: 1.75rem;
	font-weight: 700;
	color: #014751;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

/* Main Section */
main {
	margin-top: 8vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.plan-type {
	font-size: 1.25rem;
	background-color: #fff;
	color: #014751;
	padding: 1rem;
	margin-bottom: 2px;
}

.plan-type:hover {
	cursor: pointer;
}

.plan-type-buttons {
	position: relative;
}

.background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
	z-index: -1;
	background-color: #014751;
}

.background-overlay.left {
	left: 0;
	transition: all 0.5s;
}

.background-overlay.right {
	left: 50%;
	transition: all 0.5s;
}

/* Toggler */
.subscriptions {
	margin: 3rem 0;
	display: flex;
	align-items: center;
}

.subscription-toggle {
	display: flex;
	border-radius: 2.5rem;
	margin: 0 0.75rem;
	background-color: #64db9b;
}

p {
	color: #014751;
	font-size: 1rem;
	font-weight: 300;
}

.toggle-overlay {
	padding: 0.65rem;
	margin: 0.2rem 1.75rem 0.2rem 0.2rem;
	border-radius: 50%;
	background-color: #fff;
}

.toggle-overlay:hover {
	cursor: pointer;
}

.toggle-overlay.left {
	margin: 0.2rem 1.75rem 0.2rem 0.2rem;
	box-shadow: 2px 0 5px rgba(50, 50, 50, 0.2);
	transition: all 0.3s;
}

.toggle-overlay.right {
	margin: 0.2rem 0.2rem 0.2rem 1.75rem;
	box-shadow: -2px 0 5px rgba(50, 50, 50, 0.2);
	transition: all 0.3s;
}

/* Plan Cards */
.plan-card {
	position: relative;
	margin: 3rem 0.5rem;
	padding: 1rem;
	color: #014751;
	border-radius: 1rem;
	text-align: left;
	opacity: 0;
	box-shadow: 0 0 2px rgba(100, 100, 100, 0.5);
	transition: all 1s;
}

.recommended-card {
	background-color: #ffeeb4;
}

.plan-card * {
	padding: 0.75rem 0;
}

.plan-card h2 {
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recommended-badge {
	font-size: 0.8rem;
	padding: 0 0.5rem;
	background-color: #fff;
	border-radius: 0.6rem;
	box-shadow: 0 0 1px rgba(100, 100, 100, 0.5);
}

.plan-card p {
	font-size: 1.1rem;
	line-height: 1.5;
	padding-right: 1rem;
}

.monthly-price,
.annual-price {
	font-weight: 100;
}

.monthly-price span,
.annual-price span {
	font-size: 3rem;
	font-weight: 700;
}

.monthly-price.active,
.annual-price.active {
	display: block;
	opacity: 1;
	transition: all 1s;
}

.monthly-price.inactive,
.annual-price.inactive {
	position: absolute;
	opacity: 0;
}

.custom-quote {
	font-size: 1.25rem;
	font-weight: 700;
}

.free-trial-btn {
	background-color: #014751;
	width: 100%;
	margin: 1rem 0;
	color: #fff;
	border-radius: 0.6rem;
	margin: 0.5rem 0;
}

.extra-benefit {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.25rem;
}

.extra-benefit span {
	max-width: 60%;
	font-weight: 400;
	line-height: 1.5;
}

.extra-benefit span:last-of-type {
	font-size: 1rem;
	font-weight: 700;
}

.extra-benefit i {
	font-size: 1.5rem;
	border-radius: 50%;
	padding: 0;
	border: none;
}

.extra-benefit.included i {
	color: #64db9b;
	background-color: #014751;
}

.extra-benefit.notIncluded i {
	color: #eee;
	background-color: #014751;
}

.recommended-card .extra-benefit.included i {
	color: #fff;
	background-color: #014751;
}

.recommended-card .extra-benefit.notIncluded i {
	color: rgba(238, 238, 238, 0.705);
	background-color: #01465194;
}

/* Scroll Animation */

.plan-card.show-card {
	opacity: 1;
}
